---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Nagoya Investments"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Founded and registered in the United States, Nagoya Investments operates with a robust presence in Texas,
		Louisiana, New York, North Carolina, California, and New Mexico. Our team of seasoned professionals is 
		dedicated to identifying and nurturing investment opportunities that yield substantial returns and promote 
		sustainable development.

	</p>

	<p>
		At Nagoya Investments, our mission is to drive progress and prosperity through strategic investments.
		We are committed to innovation, sustainability, and excellence, ensuring value creation for our stakeholders 
		and the communities we serve.

	</p>

	 
</Layout>
